/* .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(to bottom, #f9f9f9, #f0f0f0);
    margin-bottom: 20px;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
    
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.boardBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

#boardTitle {
    text-align: center;
} */

#boardTitle {
    text-align: center;
}

.card {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to bottom, #f9f9f9, #f0f0f0);
  max-width: 300px; /* Adjust width as needed */
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}

.card {
  position: relative;
  overflow: hidden;
}
  
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.card img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.2s ease-in-out;
}

.card img:hover {
  filter: brightness(75%);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: filter 0.4s ease-in-out;
  opacity: 0; /* Initially hidden */
}


.card-content button {
  margin-right: 10px;
  color: white;
  background-color: rgb(136, 184, 89); /* Blue color for buttons */
  border: none;
  margin-bottom: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  filter: none; /* Ensure buttons are not affected by the filter */
}

.card:hover img,
.card:hover .card-content {
  filter: brightness(75%);
  opacity: 1; /* Show content on hover */
}

.card-content:hover {
  filter: none; /* Ensure the content itself does not apply the filter */
}
.card-content button:hover {
  background-color: rgb(114, 153, 74); /* Darker blue on hover */
}

#boardTitle {
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content button {
  margin-right: 10px;
  color: white;
  background-color: rgb(136, 184, 89); /* Blue color for buttons */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}